<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
              http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
              http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

       <!-- bean管理支持注解 -->
       <context:component-scan base-package="name.liuxi"/>

       <!-- 扫描mybatis的mapper -->
       <mybatis:scan base-package="com.mapper"/>

       <!-- 配置数据源 第一个库test -->
       <bean id="dataSource1"  class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
              <property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource" />
              <property name="uniqueResourceName" value="mysql/test_transaction"></property>
              <property name="poolSize" value="10"></property>
              <property name="xaProperties">
                     <props>
                            <prop key="url">jdbc:mysql://localhost:3306/test?characterEncoding=UTF-8</prop>
                            <prop key="user">root</prop>
                            <prop key="password">root</prop>
                     </props>
              </property>
       </bean>

       <!-- 配置数据源 第二个库test2 -->
       <bean id="dataSource2"  class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
              <property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource" />
              <property name="uniqueResourceName" value="mysql/test_transaction2"></property>
              <property name="poolSize" value="10"></property>
              <property name="xaProperties">
                     <props>
                            <prop key="url">jdbc:mysql://localhost:3306/test2?characterEncoding=UTF-8</prop>
                            <prop key="user">root</prop>
                            <prop key="password">root</prop>
                     </props>
              </property>
       </bean>

       <!-- 配置sqlSessionFactory1 -->
       <bean id="sqlSessionFactory1" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource1" />
              <property name="configLocation" value="classpath:mybatis-config.xml" />
       </bean>

       <!-- 配置sqlSessionFactory2 -->
       <bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource2" />
              <property name="configLocation" value="classpath:mybatis-config.xml" />
       </bean>


       <!-- 配置 transactionManager atomikos -->
       <bean id="atomikosTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager" init-method="init" destroy-method="close">
              <property name="forceShutdown" value="true"/>
       </bean>
       <bean id="atomikoUserTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">
              <property name="transactionTimeout" value="300"></property>
       </bean>

       <!-- 配置 spring JTA transactionManager -->
       <bean id="springTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
              <property name="transactionManager" ref="atomikosTransactionManager"></property>
              <property name="userTransaction" ref="atomikoUserTransaction"></property>
       </bean>


       <!-- 支持注解事物 -->
       <tx:annotation-driven transaction-manager="springTransactionManager" />


       <!-- 配置两个mapper -->
       <bean id="userMapper1" class="org.mybatis.spring.mapper.MapperFactoryBean">
              <property name="mapperInterface" value="name.liuxi.mapper.UserMapper" />
              <property name="sqlSessionFactory" ref="sqlSessionFactory1" />
       </bean>

       <bean id="userMapper2" class="org.mybatis.spring.mapper.MapperFactoryBean">
              <property name="mapperInterface" value="name.liuxi.mapper.UserMapper" />
              <property name="sqlSessionFactory" ref="sqlSessionFactory2" />
       </bean>

</beans>